<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="SimpleRun.Android">
	<uses-sdk android:targetSdkVersion="19" android:minSdkVersion="19" />
	<application android:label="SimpleRun.Android">
	</application>
</manifest>